<!DOCTYPE html>
<html>
<header>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/finalizedGame.css">
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.js"></script>
</header>
<body>
	<div>
			{{#historia}}
        <div class="container">
            <div class="card card-container">
                <h3>Categoria aleatoria:</h3>
                <img id="profile-img" class="profile-img-card2" src="img/historia.png" />
                <p id="profile-name" class="profile-name-card"></p>
                    <h3>{{category}}</h3>
                    <form action="/questions" method="get">
                      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Jugar</button>
                      <input type="hidden" name="category" value="{{category}}">
                      <input type="hidden" name="category_id" value="{{category_id}}">
                      <input type="hidden" name="game_id" value="{{game_id}}">
                    </form> 
            </div>
        </div>
			{{/historia}}
			{{#arte}}
        <div class="container">
            <div class="card card-container">
                <h3>Categoria aleatoria:</h3>
                <img id="profile-img" class="profile-img-card2" src="img/arte.png" />
                <p id="profile-name" class="profile-name-card"></p>
                    <h3>{{category}}</h3>
                    <form action="/questions" method="get">
                      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Jugar</button>
                      <input type="hidden" name="category" value="{{category}}">
                      <input type="hidden" name="category_id" value="{{category_id}}">
                      <input type="hidden" name="game_id" value="{{game_id}}">
                    </form> 
            </div>
        </div>
			{{/arte}}
	
			{{#ciencia}}
        <div class="container">
            <div class="card card-container">
                <h3>Categoria aleatoria:</h3>
                <img id="profile-img" class="profile-img-card2" src="img/ciencia.png" />
                <p id="profile-name" class="profile-name-card"></p>
                    <h3>{{category}}</h3>
                    <form action="/questions" method="get">
                      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Jugar</button>
                      <input type="hidden" name="category" value="{{category}}">
                      <input type="hidden" name="category_id" value="{{category_id}}">
                      <input type="hidden" name="game_id" value="{{game_id}}">
                    </form> 
            </div>
        </div>
			{{/ciencia}}
			{{#entretenimiento}}
        <div class="container">
            <div class="card card-container">
                <h3>Categoria aleatoria:</h3>
                <img id="profile-img" class="profile-img-card2" src="img/entretenimiento.png" />
                <p id="profile-name" class="profile-name-card"></p>
                    <h3>{{category}}</h3>
                    <form action="/questions" method="get">
                      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Jugar</button>
                      <input type="hidden" name="category" value="{{category}}">
                      <input type="hidden" name="category_id" value="{{category_id}}">
                      <input type="hidden" name="game_id" value="{{game_id}}">
                    </form> 
            </div>
        </div>
			{{/entretenimiento}}

			{{#deportes}}
        <div class="container">
            <div class="card card-container">
                <h3>Categoria aleatoria:</h3>
                <img id="profile-img" class="profile-img-card2" src="img/deporte.png" />
                <p id="profile-name" class="profile-name-card"></p>
                    <h3>{{category}}</h3>
                    <form action="/questions" method="get">
                      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Jugar</button>
                      <input type="hidden" name="category" value="{{category}}">
                      <input type="hidden" name="category_id" value="{{category_id}}">
                      <input type="hidden" name="game_id" value="{{game_id}}">
                    </form> 
            </div>
        </div>
			{{/deportes}}
			{{#geografia}}
        <div class="container">
            <div class="card card-container">
                <h3>Categoria aleatoria:</h3>
                <img id="profile-img" class="profile-img-card2" src="img/geo.png" />
                <p id="profile-name" class="profile-name-card"></p>
                    <h3>{{category}}</h3>
                    <form action="/questions" method="get">
                      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Jugar</button>
                      <input type="hidden" name="category" value="{{category}}">
                      <input type="hidden" name="category_id" value="{{category_id}}">
                      <input type="hidden" name="game_id" value="{{game_id}}">
                    </form>   
            </div>
        </div>
			{{/geografia}}
      {{#comodin}}
        <div class="container">
            <div class="card card-container">
                <h3>Categoria aleatoria:</h3>
                <img id="profile-img" class="profile-img-card2" src="img/comodin.png" />
                <p id="profile-name" class="profile-name-card"></p>
                    <h3>{{category}}</h3>
                    <form action="/questions" method="get">
                      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Jugar</button>
                      <input type="hidden" name="category" value="{{category}}">
                      <input type="hidden" name="category_id" value="{{category_id}}">
                      <input type="hidden" name="game_id" value="{{game_id}}">
                    </form>   
            </div>
        </div>
      {{/comodin}}
	</div>
	<script src="websocketDemo.js"></script>
</body>
</html>