<!DOCTYPE html>
<html>
<header>
  <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/correct.css">
	<script src="/js/jquery.js"></script>
</header>
<body>
	<div class="caja">
		<h1> </h1>
	{{#final}}
    <div class="container">
      <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="http://preguntados.com/compiled/img/character-crown2.png" />
          <p id="profile-name" class="profile-name-card"></p>
            <span id="reauth-email" class="reauth-email"></span>
            <h3>{{correct}}a</h3>
			      <form action="/finalizedGame" method="get">
              <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Continuar</button>
              <input type="hidden" name="game_id" value="{{game_id}}">
            </form>
      </div>
    </div>
	{{/final}}
  {{#no_final}}
    <div class="container">
      <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="http://preguntados.com/compiled/img/character-crown2.png" />
          <p id="profile-name" class="profile-name-card"></p>
            <span id="reauth-email" class="reauth-email"></span>
            <h3>{{correct}}a</h3>
            <form action="/play" method="get">
              <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Continuar</button>
				      <input type="hidden" name="game_id" value="{{game_id}}">
            </form>
      </div>
    </div>
  {{/no_final}}

	<script src="websocketDemo.js"></script>
</body>
</html>