<!DOCTYPE html>
<html>
<header>
	<link rel="stylesheet" type="text/css" href="css/finalizedGame.css">
	<script src="/js/jquery.js"></script>
</header>
<body>
	<div class="caja">
		<h1>{{user}}, finalizaste esta partida!</h1>
		{{#win}}
			<h2>Ganaste </h2>
		{{/win}}
		{{#lose}}
			<h2> Perdiste :(</h2>
		{{/lose}}
		{{#draw}}
			<h2> Empataste</h2>
		{{/draw}}
		<h2>Respuestas correctas: {{Co_ans}}</h2>
		<h2>Respuestas incorrectas: {{In_ans}}</h2>
		<div class="img"> <img src="img/win.png"></div>
		<form action="/games" method="get">
			<input class="b1" type="submit" value="SEGUIR JUGANDO">
		</form>
	</div>
	<script src="websocketDemo.js"></script>
</body>
</html>