<!DOCTYPE html>
<html>
<header>
  <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/finalizedGame.css">
  <script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.js"></script>
</header>
<body>
	<div>
		<h1>{{user}}, finalizaste esta partida!</h1>
		{{#win}}
      <div class="container">
          <div class="card card-container">
              <img id="profile-img" class="profile-img-card" src="http://www.androidappsforpc.org/wp-content/uploads/2015/02/characters-1.png" />
              <p id="profile-name" class="profile-name-card"></p>
                  <h3>Ganaste</h3>
                  <h3>Resultado: {{Co_ans}} | {{In_ans}}</h3>
                  <form action="/games" method="get">
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Continuar</button>
                  </form>
          </div>
      </div>
    {{/win}}
    {{#lose}}
      <div class="container">
          <div class="card card-container">
              <img id="profile-img" class="profile-img-card" src="http://triviacrackkingdoms.com/img/characters/chara-marks.png" />
              <p id="profile-name" class="profile-name-card"></p>
                  <h3>Perdiste</h3>
                  <h3>Resultado: {{Co_ans}} | {{In_ans}}</h3>
                  <form action="/games" method="get">
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Continuar</button>
                  </form>
          </div>
      </div>
    {{/lose}}
    {{#draw}}
      <div class="container">
          <div class="card card-container">
              <img id="profile-img" class="profile-img-card" src="http://www.triviacrackkingdoms.com/img/rules/king.png" />
              <p id="profile-name" class="profile-name-card"></p>
                  <h3>Empataste</h3>
                  <h3>Resultado: {{Co_ans}} | {{In_ans}}</h3>
                  <form action="/games" method="get">
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Continuar</button>
                  </form>
          </div>
      </div>
    {{/draw}}
	</div>
	<script src="websocketDemo.js"></script>
</body>
</html>