<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/gameHome.css">
	<script src="/js/jquery.js"></script>
</head>
<body id="gameHome">
	<table class="menu">
		<tl>
			<td>
				<form action="/ranking" method="get">
					<input class="ranking" type="submit" value="Ranking">
				</form>
			</td>
			<td>
				<form action="/profile" method="get">
					<input class="profile" type="submit" value="Perfil">
				</form>				
			</td>
			<td>
				<form id="logout" action="/logout" method="get">
					<input class="logout" type="submit" value="Cerrar Sesion">
				</form>					
			</td>
		</tl>
	</table>

	<div class="bloque">
		<div class="lives">
			<img src="img/vidas.png" width="30">
			<p> Vidas: {{lifes}} </p>
		</div>
		<div class="level">
			<img src="img/win.png" width="30">
			<p> Nivel:{{level}} </p>
		</div>

		<form action="/waitingRoom" method="get">
			<input class="newGame" id="newGame" type="submit" value="Nuevo Juego">
		</form>
		<h1>
    		<b><font size="4" color="red">{{error}}</font></b>
  		</h1>
		<h4>Lista Juegos Pendientes</h4>
		<div class="bloque2">
				<ul>
					{{#games}}
					<div class="cajas">
						<li> 
							<h3>Juego:{{state}}</h3> 
							<form action="/play" method="get">
								<input class="jugar" type="submit" value="Jugar">
								<input type="hidden" name="game_id" value="{{id}}">
							</form>
						</li>
					</div>
					{{/games}}
				</ul>
		</div>
		<h4>Lista Juegos finalizados</h4>
		<div class="bloque2">
				<ul>
					{{#finalizedGames}}
					<div class="cajas">
						<li> 
							<h3>Juego:{{state}}</h3> 
							<form action="/finalizedGame" method="get">
								<input class="jugar" type="submit" value="Ver">
								<input type="hidden" name="game_id" value="{{id}}">
							</form>
								<input class="jugar" type="submit" onclick="deleteGame({{id}})" value="X">
						</li>
					</div>
					{{/finalizedGames}}
				</ul>
		</div>
		<input id="userid" type="hidden" name="userid" value="{{user_id}}">
	</div>
    <script src="websocketDemo.js"></script>
</body>
</html>